@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply text-base;
	}
	body {
		@apply text-base;
	}
	/* ... */
}

@layer components {
	.btn {
		@apply bg-transparent border border-transparent rounded-md text-white cursor-pointer inline-block text-base font-semibold py-2 px-4 text-center transition align-middle select-none;
	}
	.btn-primary {
		@apply bg-blue-600 text-white border-blue-600 hover:bg-blue-800 hover:border-blue-800  active:bg-blue-800 active:border-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300;
	}
	.btn-outline-primary {
		@apply bg-transparent text-blue-600 border-blue-600 hover:bg-blue-600 hover:text-white hover:border-blue-600  active:bg-blue-600 active:text-white active:border-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300;
	}
}

@import './components/dropdown.css';
@import './components/navbar.css';

.collapse:not(.show) {
	display: none;
}

.collapsing {
	height: 0;
	overflow: hidden;
	transition: height 0.35s ease;
}

.collapse {
	visibility: visible;
}
