<!DOCTYPE html>
<html lang="en">
	<head>
		@@include("../partials/head.html")
		<title>Navs-Tabs - Dash UI - TailwindCSS HTML Admin Template Free</title>
	</head>
	<body>
		<main>
			<div id="db-wrapper">
				@@include("../partials/navbar-vertical.html", { "page": "navs-tabs", "page_group": "components" })
				<div id="page-content">
					@@include("../partials/top-navbar.html")

					<div class="p-6">
						<div class="flex flex-col mb-6 border-b border-gray-300 pb-6">
							<h1 class="block font-semibold mb-3">Navs & Tabs</h1>
							<p>Navigation components using Tailwind CSS.</p>
						</div>
						<div class="flex flex-col">
							<div class="">
								<div class="">
									<div class="mb-4">
										<h2 class="text-xl mb-1">Example</h2>
										<p class="">The base nav component is built with flexbox and provide a strong foundation for building all types of navigation components.</p>
									</div>

									<div class="card mb-10">
										<ul class="nav nav-line-bottom mb-3 border-b" id="pills-tab" role="tablist">
											<li class="nav-item" role="presentation">
												<a
													class="p-3 px-6 border-b nav-link font-semibold active"
													id="pills-design-nav-example-tab"
													data-bs-toggle="pill"
													href="#pills-design-nav-example"
													type="button"
													role="tab"
													aria-controls="pills-design-nav-example"
													aria-selected="true"
												>
													Design
												</a>
											</li>
											<li class="nav-item" role="presentation">
												<a
													class="p-3 px-6 font-semibold nav-link"
													id="pills-html-nav-example-tab"
													data-bs-toggle="pill"
													href="#pills-html-nav-example"
													type="button"
													role="tab"
													aria-controls="pills-html-nav-example"
													aria-selected="false"
												>
													HTML
												</a>
											</li>
										</ul>
										<div class="tab-content p-6" id="pills-tabContent">
											<div class="tab-pane fade show active" id="pills-design-nav-example" role="tabpanel" aria-labelledby="pills-design-nav-example-tab" tabindex="0">
												<nav class="flex space-x-6">
													<a class="inline-flex items-center gap-x-2 text-base whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700" href="#">Link</a>
													<a
														class="inline-flex items-center gap-x-2 text-base font-semibold whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700"
														href="#"
														aria-current="page"
													>
														Active
													</a>
													<a class="inline-flex items-center gap-x-2 text-base whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700" href="#">Link</a>
													<a
														class="inline-flex items-center gap-x-2 text-base whitespace-nowrap text-gray-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700 opacity-50 pointer-events-none"
														href="#"
													>
														Disabled
													</a>
												</nav>
											</div>
											<div class="tab-pane fade" id="pills-html-nav-example" role="tabpanel" aria-labelledby="pills-html-nav-example-tab" tabindex="0">
												<pre
													class="language-markup"
													tabindex="0"
												><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>nav</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>flex space-x-6<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center gap-x-2 text-base whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700<span class="token punctuation">"</span></span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Link<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span>
     <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center gap-x-2 text-base font-semibold whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700<span class="token punctuation">"</span></span>
     <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span>
     <span class="token attr-name">aria-current</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>page<span class="token punctuation">"</span></span>
     <span class="token punctuation">&gt;</span></span>
  Active
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center gap-x-2 text-base whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700<span class="token punctuation">"</span></span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Link<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span>
     <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>inline-flex items-center gap-x-2 text-base whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700 opacity-50 pointer-events-none<span class="token punctuation">"</span></span>
     <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span>
     <span class="token punctuation">&gt;</span></span>
  Disabled
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>nav</span><span class="token punctuation">&gt;</span></span></code></pre>
											</div>
										</div>
									</div>
									<div class="mb-4">
										<h2 class="text-xl mb-1">Tabs</h2>
										<p class="">The base nav component is built with flexbox and provide a strong foundation for building all types of navigation components.</p>
									</div>

									<div class="card mb-10">
										<ul class="nav nav-line-bottom mb-3 border-b" id="pills-tab" role="tablist">
											<li class="nav-item" role="presentation">
												<a
													class="p-3 px-6 border-b nav-link font-semibold active"
													id="pills-design-tabs-tab"
													data-bs-toggle="pill"
													href="#pills-design-tabs"
													type="button"
													role="tab"
													aria-controls="pills-design-tabs"
													aria-selected="true"
												>
													Design
												</a>
											</li>
											<li class="nav-item" role="presentation">
												<a
													class="p-3 px-6 font-semibold nav-link"
													id="pills-html-tabs-tab"
													data-bs-toggle="pill"
													href="#pills-html-tabs"
													type="button"
													role="tab"
													aria-controls="pills-html-tabs"
													aria-selected="false"
												>
													HTML
												</a>
											</li>
										</ul>
										<div class="tab-content p-6" id="pills-tabContent">
											<div class="tab-pane fade show active" id="pills-design-tabs" role="tabpanel" aria-labelledby="pills-design-tabs-tab" tabindex="0">
												<nav class="flex border-b border-gray-300">
													<a
														class="px-4 py-3 -mb-px border-gray-300 border rounded-t-md inline-flex items-center gap-x-2 text-base font-semibold whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700"
														href="#"
														aria-current="page"
													>
														Active
													</a>
													<a
														class="px-4 py-3 hover:-mb-px hover:border-gray-300 hover:border hover:rounded-t-md inline-flex items-center gap-x-2 text-base whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700"
														href="#"
													>
														Link
													</a>

													<a
														class="px-4 py-3 hover:-mb-px hover:border-gray-300 hover:border hover:rounded-t-md inline-flex items-center gap-x-2 text-base whitespace-nowrap text-indigo-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700"
														href="#"
													>
														Link
													</a>
													<a
														class="px-4 py-3 hover:-mb-px hover:border-gray-300 hover:border hover:rounded-t-md inline-flex items-center gap-x-2 text-base whitespace-nowrap text-gray-600 hover:text-indigo-70 focus:outline-none focus:text-indigo-700 opacity-50 pointer-events-none"
														href="#"
													>
														Disabled
													</a>
												</nav>
											</div>
											<div class="tab-pane fade" id="pills-html-tabs" role="tabpanel" aria-labelledby="pills-html-tabs-tab" tabindex="0"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		@@include("../partials/scripts.html")
	</body>
</html>
