<div class="fixed bottom-0 right-0 m-4">
   <a href="https://dashui.codescandy.com/tailwindcss-admin-dashboard-html-template.html" target="_blank"
      rel="noopener noreferrer"
      class="btn btn-lg inline-flex items-center gap-x-2 bg-indigo-600 text-white border-indigo-600 disabled:opacity-50 disabled:pointer-events-none hover:bg-indigo-800 hover:border-indigo-800 active:bg-indigo-800 active:border-indigo-800 focus:outline-none focus:ring-4 focus:ring-indigo-300">
      <i data-feather="shopping-cart" class="w-4 h-4 mr-1"></i>
      Buy Pro
   </a>
</div>